@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 25px !important;
  --swiper-theme-color: #000 !important;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-poppins text-textColor;
}

p,
a,
li,
button,
input {
  @apply font-roboto;
}

.form-input {
  @apply w-full p-3 placeholder:text-[#3F3F41];
}

.event-banner {
  background: linear-gradient(
    180deg,
    rgba(14, 13, 11, 0) 0%,
    rgba(14, 13, 11, 0.67) 98.44%
  );
  background: linear-gradient(
    180deg,
    rgba(14, 13, 11, 0) -8.16%,
    rgba(14, 13, 11, 0.88) 100%
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .event__title {
    @apply text-xl md:text-2xl font-bold;
  }

  .container {
    width: 90%;
    margin-inline: auto;
    max-width: 1025px;
  }
}
